{% extends 'base.html' %}

{% block title %}Transactions{% endblock %}

{% block content %}
<h2>Transaction Dashboard</h2>
<div class="transaction-buttons">
    <button><a href="{% url 'add_transaction' %}">Add Transaction</a></button>
    <button><a href="{% url 'add_account' %}">Add Account</a></button>
</div>

<div class="dashboard">

    <section class="account-section">
        <h3>Accounts</h3>
        <ul>
            <div class="accounts-list">
            {% for account in accounts %}
            <li>
                <div class="account">
                    <div class="account-details">
                        <h4>{{ account.name }}</h4>
                        <p>Balance: ${{ account.balance }}</p>
                    </div>
                    <div class="account-actions">
                        <a href="{% url 'edit_account' account.id %}">Edit</a>
                        <a href="{% url 'delete_account' account.id %}">Delete</a>
                    </div>
                </div>
            </li>        
            {% endfor %}
            </div>
        </ul>
    </section>

    <section class="income-section">
        <h3>Income</h3>
        <ul>
            {% for income in incomes %}
            <li>
                <div class="transaction">
                    <div class="transaction-details">
                        <h4>{{ income.title }}</h4>
                        <p>${{ income.amount }}</p>
                        <p>{{ income.date }}</p>
                    </div>
                    <div class="transaction-actions">
                        <a href="{% url 'edit_transaction' income.pk %}">Edit</a>
                        <a href="{% url 'delete_transaction' income.pk %}">Delete</a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>

    <section class="expenses-section">
        <h3>Expenses</h3>
        <div class="expenses-list">
            {% for category, transactions in grouped_expenses.items %}
            <div class="category">
                <h4>{{ category }}</h4>
                <ul>
                    {% for transaction in transactions %}
                    <li>
                        <div class="transaction">
                            <div class="transaction-details">
                                <h4>{{ transaction.title }}</h4>
                                <p>${{ transaction.amount }}</p>
                                <p>{{ transaction.date }}</p>
                            </div>
                            <div class="transaction-actions">
                                <a href="{% url 'edit_transaction' transaction.pk %}">Edit</a>
                                <a href="{% url 'delete_transaction' transaction.pk %}">Delete</a>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </section>
</div>

{% endblock %}
